<%- include('../partials/site-start') %>

<section class="section empty-state">
  <h1>Page introuvable</h1>
  <p>La page demandee n'existe pas ou a ete deplacee.</p>
  <a class="button" href="/">Retour a l'accueil</a>
</section>

<%- include('../partials/site-end') %>
